<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>mjamsek-public</id>
            <username>${ci.nexus.user}</username>
            <password>${ci.nexus.pass}</password>
        </server>
        <server>
            <id>mjamsek-releases</id>
            <username>${ci.nexus.user}</username>
            <password>${ci.nexus.pass}</password>
        </server>
        <server>
            <id>mjamsek-snapshots</id>
            <username>${ci.nexus.user}</username>
            <password>${ci.nexus.pass}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>mjamsek</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>mjamsek-snapshots</id>
                    <url>https://nexus.mjamsek.com/repository/maven-snapshots</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>mjamsek-releases</id>
                    <url>https://nexus.mjamsek.com/repository/maven-releases</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>mjamsek-public</id>
                    <url>https://nexus.mjamsek.com/repository/maven-public</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>